* {
  font-family: "Comic Sans MS", cursive;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body > div {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
}

/* A A A A */
div.id {
  background-color: yellow;
  border: 2px solid black;
  text-align: left;
}

/* Row 2 - B, C, D */
body > div > div {
  display: grid;
  grid-template-columns: 1fr auto auto;
  border: 2px solid black;
}

span#id {
  grid-column: 2;
  grid-row: 1;
}

/* d spanning to the left sid */
span.class {
  grid-column: 3;
  grid-row: 2;
  font-style: italic;
}

span {
  grid-column: 3;
  grid-row: 1;
}

/* Row 3 */
div.class {
  display: grid;
  grid-template-columns: auto 1fr auto;
  border: 2px solid black;
}

div.class > div.id {
  grid-column: 1;
  grid-row: 1;
  background-color: yellow;
  border: 2px solid black;
}

div#class {
  grid-column: 2;
  grid-row: 1;
  border: 2px solid black;
}

div.class > span {
  grid-column:3;
  grid-row: 1;
}

div#H {
  grid-column: 2;
  grid-row: 2;
  width: 33.33%;
  margin: 0 auto;
  border: 2px solid black;
  text-align: right;
}