* {
  font-family: "Comic Sans MS";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body > div {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
}

/* A A A A */
div.id {
  background-color: yellow;
  border: 2px solid black;
  text-align: left;
}

/* Row 2 BCD */
div:nth-child(2) {
  display: grid;
  grid-template-columns: 1fr auto auto;
  border: 2px solid black;
}

/*C C C C*/
span#id {
  grid-column: 2;
  grid-row: 1;
}

/*B B B B*/
span:nth-child(1) {
  grid-column: 3;
  grid-row: 1;
}

/*D D D D*/
span.class {
  grid-column: 3;
  grid-row: 2;
  font-style: italic;
}

/* Row 3 EFGH*/
div.class {
  display: grid;
  grid-template-columns: auto 1fr auto;
  border: 2px solid black;
}

/*F F F F*/
div.class > div.id {
  grid-column: 1;
  grid-row: 1;
  background-color: yellow;
  border: 2px solid black;
}

/*G G G G*/
div.class > div#class {
  grid-column: 2;
  grid-row: 1;
  border: 2px solid black;
}

/*E E E E*/
div.class > span {
  grid-column:3;
  grid-row: 1;
}

/*H H H H*/
div#H {
  grid-column: 2;
  grid-row: 2;
  width: 33.33%;
  margin: 0 auto;
  border: 2px solid black;
  text-align: right;
}